<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adaboost Visualizer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <style>
    html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/in_it.css') }}">

    <script src="{{ url_for('static',filename='js/jquery-3.3.1.js' )}}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body class="w3-light-grey" >

    <!-- Top container -->
    <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
        <a href="#" class="w3-bar-item w3-right"><i class="fa fa-users fa-fw"></i>  About Us</a>
        <a href="#" class="w3-bar-item w3-right"><i class="fa fa-eye fa-fw"></i>  User Guideline</a>
    </div>

    <!-- Project Name Showing ---->
    <div id="Top_left">
        <div class="wowpanel">
            <div class="content">Online</div>
        </div>
        <div class="wowpanel">
            <div class="content">Adaptive</div>
        </div>
        <div class="wowpanel">
            <div class="content">Boosting</div>
        </div>
        <div class="wowpanel">
            <div class="content">Visualizer</div>
        </div>
    </div>

    <!--- Body --->
    <div class="w3-quarter">
          <div class="w3-container w3-black w3-padding-16">
              <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
            <div class="w3-right">
            </div>
            <div class="w3-clear"></div>
            <h4>Upload Dataset</h4>
                <form action = "http://localhost:5000/visualizer" method = "POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <input id="file-upload" type="file" name="file"/>
                        <input id="submit_button" type="submit" value="Visualize"/>
                    </div>
                </form>
          </div>


      <!-- Ajax test
        <h1>Testing AJAX</h1>
        <select id="mySelect" onchange="myFunction()">
          <option value="Audi">Audi
          <option value="BMW">BMW
          <option value="Mercedes">Mercedes
          <option value="Volvo">Volvo
        </select>
        <p id="demo"></p>
    </div> --->

        <!--- Style Sheet and JavaScript Link --->

        <script type="text/javascript" src="{{  url_for('static', filename= 'js/in_it.js') }}"></script>
</body>
</html>