<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adaboost Visualizer</title>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="../static/in_it.js"></script>
</head>
<body>
    <h1>Testing AJAX</h1>
    <select id="mySelect" onchange="myFunction()">
      <option value="Audi">Audi
      <option value="BMW">BMW
      <option value="Mercedes">Mercedes
      <option value="Volvo">Volvo
    </select>
    <p id="demo"></p>
    <!-- demo for file upload-->
    <form id="uploadform" method="post" enctype="multipart/form-data">
        <label for="file">Select a file</label>
        <input name="file" type="file">
        <button id="submit" type="button">Upload</button>
    </form>
</body>
</html>